* {
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.navbar {
    margin: 0 auto;
    border-radius: 10px;
    display: flex;  
    background-color: #F55A5A;
    width: 65%;
    height: 50px;
}

.navbar-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #FFFFFF;
    font-size: 15.5px;
    font-weight: 500;
}

.navbar-container > img {
    width: 30px;
    height: 30px;
    color: #DADADA;
    margin-right: 10px;
}



.travel-container {
    display: flex;
    width: 65%;
    border: #2B283A 1px;
    margin: 0 auto;
}

.travel-container:not(:last-child) {
	box-shadow: 0px 45px 4px -45px #cacaca;
}
.travel-image {
    position: relative;
    
    width: 33vh;
    height: 44vh;
    border-radius: 10px;
    display: block;
    margin-top: 6vh;
    margin-bottom: 4vh;
}

.body-right{
    margin-top: 12vh;
    position: relative;
    width:100%;
    margin-left: 4vw;
    color: #2B283A;
}

.travel-location{
    display: flex;
    align-items: center;
    
}

.travel-location > img {
    width: 11px;
    height: 14px;
}

.travel-location > p {
    margin-left: 0.5vw;
}
.travel-location > p > a{
    margin-left: 1vw;
    color: #918E9B;
    text-decoration: underline;
}

.travel-title{
    font-weight: bolder;
    font-size: 30px;
    margin-top: -1vh;
    color: #2B283A;
    font-weight: bolder;
}

.travel-dates{
    font-weight: bold;
    margin-top: 3vh;
}